<article
  class="highlight-course-card"
  (click)="openCourse()">

  <div class="highlight-course-card__image-wrapper">

    <img
      class="highlight-course-card__image"
      [src]="image"
      [alt]="title"
    />

  </div>

  <div class="highlight-course-card__content">

    <span class="highlight-course-card__category">
      {{ category }}
    </span>

    <h3 class="highlight-course-card__title">
      {{ title }}
    </h3>

    <p class="highlight-course-card__description">
      {{ description }}
    </p>

  </div>

</article>