<footer class="footer" [class.footer-collapsed]="isCollapsed">
  <p class="footer-copy">Produzido por</p>

  <div class="logo-savio">
    @if (!isCollapsed) {
      <a href="https://saviomoraes.github.io/portfolio-savio-moraes/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/logo_savio_moraes.png" alt="logo SM Savio Moraes Desenvolvedor Fullstack">
      </a>
    } @else {
      <a href="https://saviomoraes.github.io/portfolio-savio-moraes/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/icon_logo_savio_moraes.png" alt="ícone SM Savio Moraes Desenvolvedor Fullstack">
      </a>
    }
  </div>

  <ul class="footer-links">
    @for (item of footerItems; track item.label) {
      <li>
        <a
          [href]="item.route"
          target="_blank"
          [attr.aria-label]="item.label"
          [title]="item.label"
        >
          <img
            [src]="item.icon"
            [alt]="item.label"
          >
        </a>
      </li>
    }
  </ul>
</footer>