<!-- MOBILE HAMBURGUER -->
<aside
  class="sidebar"
  [class.sidebar-collapsed]="isCollapsed"
  [class.sidebar-mobile-open]="isMobileMenuOpen"
>
  <!-- SIDEBAR CONTENT -->
  <div class="sidebar__content">
    <!-- MOBILE HEADER -->
    <div class="sidebar__mobile-header">
      <div class="sidebar-logo">
        <a href="/">
          <img
            src="assets/images/logo-sm-dev-academy.webp"
            alt="Logo"
          >
        </a>
      </div>

      <button
        type="button"
        class="sidebar__mobile-close"
        (click)="toggleMobileMenu()"
      >
        Fechar
      </button>
    </div>

    <!-- DESKTOP LOGO -->
    <div class="sidebar-logo">
      @if (!isCollapsed) {
        <a href="/">
          <img
            src="assets/images/logo-sm-dev-academy.webp"
            alt="Logo"
          >
        </a>
      } @else {
        <a href="/">
          <img
            src="assets/images/icon-sm-dev-academy.webp"
            alt="Ícone"
          >
        </a>
      }
    </div>

    <!-- SIDEBAR NAVIGATION -->
    <nav class="sidebar-navigation">
      <!-- HOME PAGE -->
      <section class="sidebar-navigation__section">
        <h2
          class="sidebar-navigation__title"
        >
         <span>HOME PAGE</span>
        </h2>
        
        <ul class="sidebar-navigation__list">
          <li class="sidebar-navigation__item">
            <div class="sidebar-navigation__link">
              <a
                class="sidebar-navigation__link-content"
                routerLink="/"
                routerLinkActive="sidebar-navigation__link--active"
                [routerLinkActiveOptions]="{ exact: true }"
                [matTooltip]="isCollapsed ? 'Home' : ''"
                matTooltipPosition="below"
                matTooltipClass="sidebar-tooltip"
              >
                <span class="material-symbols-outlined">
                  home
                </span>
  
                @if (!isCollapsed) {
                  <span class="sidebar-navigation__label">
                    Home
                  </span>
                }
              </a>
            </div>   
          </li>
        </ul>
      </section>

      <!-- LEARN -->
      <section
        class="sidebar-navigation__section"
        [class.sidebar-navigation__section--expanded]="learnExpanded"
      >
        <button
          type="button"
          class="sidebar-navigation__title sidebar-navigation__toggle"
          [class.sidebar-navigation__title--expanded]="learnExpanded"
          (click)="toggleSection('learn')"
        >
          <span>LEARN</span>

          <span class="material-symbols-outlined">
            @if (learnExpanded) {
              keyboard_arrow_down
            } @else {
              keyboard_arrow_right
            }
          </span>
        </button>

        @if (learnExpanded) {
          <ul class="sidebar-navigation__list">

            <!-- COURSES -->
            <li
              class="sidebar-navigation__item"
              data-label="Courses"
            >

              <div
                class="sidebar-navigation__link"
                [class.sidebar-navigation__link--expanded]="coursesExpanded && !isCoursesActive()"
              >

                <a
                  class="sidebar-navigation__link-content"
                  routerLink="/learn/courses"
                  routerLinkActive="sidebar-navigation__link--active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  [matTooltip]="isCollapsed ? 'Courses' : ''"
                  matTooltipPosition="below"
                  matTooltipClass="sidebar-tooltip" 
                >

                  <span
                    class="
                      material-symbols-outlined
                      sidebar-navigation__technologies-icon
                    "
                  >
                    school
                  </span>

                  @if (!isCollapsed) {
                    <span class="sidebar-navigation__label">
                      Courses
                    </span>
                  }

                </a>

                <button
                  type="button"
                  class="sidebar-navigation__expand-button sidebar-navigation__expand-button--courses"
                  (click)="toggleSection('courses')"
                >
                  <span
                    class="
                      material-symbols-outlined
                      sidebar-navigation__technologies-arrow
                    "
                    [class.sidebar-navigation__technologies-arrow--active]="isCoursesActive()"
                    [class.sidebar-navigation__technologies-arrow--expanded]="coursesExpanded && !isCoursesActive()"
                  >
                    @if (coursesExpanded) {
                      keyboard_arrow_down
                    } @else {
                      keyboard_arrow_right
                    }
                  </span>
                </button>

              </div>

              @if (coursesExpanded) {

                <ul class="sidebar-navigation__list">

                  <!-- FRONTEND -->
                  <li class="sidebar-navigation__item sidebar-navigation__category">

                    <div
                      class="sidebar-navigation__link"
                      [class.sidebar-navigation__link--expanded]="frontendExpanded && !isFrontendActive()"
                    >

                      <a
                        class="sidebar-navigation__link-content"
                        routerLink="/learn/courses/frontend"
                        routerLinkActive="sidebar-navigation__link--active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [matTooltip]="isCollapsed ? 'Frontend' : ''"
                        matTooltipPosition="below"
                        matTooltipClass="sidebar-tooltip" 
                      >

                        <img
                          class="sidebar__tech-icon"
                          src="assets/svg/frontend.svg"
                          alt="Frontend"
                        />

                        @if (!isCollapsed) {
                          <span class="sidebar-navigation__label">
                            Frontend
                          </span>
                        }

                      </a>

                      <button
                        type="button"
                        class="sidebar-navigation__expand-button sidebar-navigation__expand-button--category"
                        (click)="toggleSection('frontend')"
                      >
                        <span
                          class="
                            material-symbols-outlined
                            sidebar-navigation__technologies-arrow
                          "
                          [class.sidebar-navigation__technologies-arrow--active]="isFrontendActive()"
                          [class.sidebar-navigation__technologies-arrow--expanded]="frontendExpanded && !isFrontendActive()"
                        >
                          @if (frontendExpanded) {
                            keyboard_arrow_down
                          } @else {
                            keyboard_arrow_right
                          }
                        </span>
                      </button>

                    </div>

                  </li>

                  <!-- BACKEND -->
                  <li class="sidebar-navigation__item sidebar-navigation__category">

                    <div
                      class="sidebar-navigation__link"
                      [class.sidebar-navigation__link--expanded]="backendExpanded && !isBackendActive()"
                    >

                      <a
                        class="sidebar-navigation__link-content"
                        routerLink="/learn/courses/backend"
                        routerLinkActive="sidebar-navigation__link--active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [matTooltip]="isCollapsed ? 'Backend' : ''"
                        matTooltipPosition="below"
                        matTooltipClass="sidebar-tooltip"
                      >

                        <img
                          class="sidebar__tech-icon"
                          src="assets/svg/backend.svg"
                          alt="Backend"
                        />

                        @if (!isCollapsed) {
                          <span class="sidebar-navigation__label">
                            Backend
                          </span>
                        }

                      </a>

                      <button
                        type="button"
                        class="sidebar-navigation__expand-button sidebar-navigation__expand-button--category"
                        (click)="toggleSection('backend')"
                      >
                        <span
                          class="
                            material-symbols-outlined
                            sidebar-navigation__technologies-arrow
                          "
                          [class.sidebar-navigation__technologies-arrow--active]="isBackendActive()"
                          [class.sidebar-navigation__technologies-arrow--expanded]="backendExpanded && !isBackendActive()"
                        >
                          @if (backendExpanded) {
                            keyboard_arrow_down
                          } @else {
                            keyboard_arrow_right
                          }
                        </span>
                      </button>

                    </div>

                  </li>

                  <!-- BANCO DE DADOS -->
                  <li class="sidebar-navigation__item sidebar-navigation__category">

                    <div
                      class="sidebar-navigation__link"
                      [class.sidebar-navigation__link--expanded]="databaseExpanded && !isDatabaseActive()"
                    >

                      <a
                        class="sidebar-navigation__link-content"
                        routerLink="/learn/courses/banco-de-dados"
                        routerLinkActive="sidebar-navigation__link--active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [matTooltip]="isCollapsed ? 'Banco de Dados' : ''"
                        matTooltipPosition="below"
                        matTooltipClass="sidebar-tooltip"
                      >

                        <img
                          class="sidebar__tech-icon"
                          src="assets/svg/banco-de-dados.svg"
                          alt="Banco de Dados"
                        />

                        @if (!isCollapsed) {
                          <span class="sidebar-navigation__label">
                            Banco de Dados
                          </span>
                        }

                      </a>

                      <button
                        type="button"
                        class="sidebar-navigation__expand-button sidebar-navigation__expand-button--category"
                        (click)="toggleSection('banco-de-dados')"
                      >
                        <span
                          class="
                            material-symbols-outlined
                            sidebar-navigation__technologies-arrow
                          "
                          [class.sidebar-navigation__technologies-arrow--active]="isDatabaseActive()"
                          [class.sidebar-navigation__technologies-arrow--expanded]="databaseExpanded && !isDatabaseActive()"
                        >
                          @if (databaseExpanded) {
                            keyboard_arrow_down
                          } @else {
                            keyboard_arrow_right
                          }
                        </span>
                      </button>

                    </div>

                  </li>

                  <!-- MOBILE -->
                  <li class="sidebar-navigation__item sidebar-navigation__category">

                    <div
                      class="sidebar-navigation__link"
                      [class.sidebar-navigation__link--expanded]="mobileExpanded && !isMobileActive()"
                    >

                      <a
                        class="sidebar-navigation__link-content"
                        routerLink="/learn/courses/mobile"
                        routerLinkActive="sidebar-navigation__link--active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [matTooltip]="isCollapsed ? 'Mobile' : ''"
                        matTooltipPosition="below"
                        matTooltipClass="sidebar-tooltip" 
                      >

                        <img
                          class="sidebar__tech-icon"
                          src="assets/svg/mobile.svg"
                          alt="Mobile"
                        />

                        @if (!isCollapsed) {
                          <span class="sidebar-navigation__label">
                            Mobile
                          </span>
                        }

                      </a>

                      <button
                        type="button"
                        class="sidebar-navigation__expand-button sidebar-navigation__expand-button--category"
                        (click)="toggleSection('mobile')"
                      >
                        <span
                          class="
                            material-symbols-outlined
                            sidebar-navigation__technologies-arrow
                          "
                          [class.sidebar-navigation__technologies-arrow--active]="isMobileActive()"
                          [class.sidebar-navigation__technologies-arrow--expanded]="mobileExpanded && !isMobileActive()"
                        >
                          @if (mobileExpanded) {
                            keyboard_arrow_down
                          } @else {
                            keyboard_arrow_right
                          }
                        </span>
                      </button>

                    </div>

                  </li>

                  <!-- DEVOPS -->
                  <li class="sidebar-navigation__item sidebar-navigation__category">

                    <div
                      class="sidebar-navigation__link"
                      [class.sidebar-navigation__link--expanded]="devopsExpanded && !isDevopsActive()"
                    >

                      <a
                        class="sidebar-navigation__link-content"
                        routerLink="/learn/courses/devops"
                        routerLinkActive="sidebar-navigation__link--active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [matTooltip]="isCollapsed ? 'DevOps' : ''"
                        matTooltipPosition="below"
                        matTooltipClass="sidebar-tooltip"
                      >

                        <img
                          class="sidebar__tech-icon"
                          src="assets/svg/devops.svg"
                          alt="DevOps"
                        />

                        @if (!isCollapsed) {
                          <span class="sidebar-navigation__label">
                            DevOps
                          </span>
                        }

                      </a>

                      <button
                        type="button"
                        class="sidebar-navigation__expand-button sidebar-navigation__expand-button--category"
                        (click)="toggleSection('devops')"
                      >
                        <span
                          class="
                            material-symbols-outlined
                            sidebar-navigation__technologies-arrow
                          "
                          [class.sidebar-navigation__technologies-arrow--active]="isDevopsActive()"
                          [class.sidebar-navigation__technologies-arrow--expanded]="devopsExpanded && !isDevopsActive()"
                        >
                          @if (devopsExpanded) {
                            keyboard_arrow_down
                          } @else {
                            keyboard_arrow_right
                          }
                        </span>
                      </button>

                    </div>

                  </li>

                  <!-- IA -->
                  <li class="sidebar-navigation__item sidebar-navigation__category">

                    <div
                      class="sidebar-navigation__link"
                      [class.sidebar-navigation__link--expanded]="artificialIntelligenceExpanded && !isArtificialIntelligenceActive()"
                    >

                      <a
                        class="sidebar-navigation__link-content"
                        routerLink="/learn/courses/artificial-intelligence"
                        routerLinkActive="sidebar-navigation__link--active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [matTooltip]="isCollapsed ? 'IA' : ''"
                        matTooltipPosition="below"
                        matTooltipClass="sidebar-tooltip"
                      >

                        <img
                          class="sidebar__tech-icon"
                          src="assets/svg/ia.svg"
                          alt="IA"
                        />

                        @if (!isCollapsed) {
                          <span class="sidebar-navigation__label">
                            IA
                          </span>
                        }

                      </a>

                      <button
                        type="button"
                        class="sidebar-navigation__expand-button sidebar-navigation__expand-button--category"
                        (click)="toggleSection('artificial-intelligence')"
                      >
                        <span
                          class="
                            material-symbols-outlined
                            sidebar-navigation__technologies-arrow
                          "
                          [class.sidebar-navigation__technologies-arrow--active]="isArtificialIntelligenceActive()"
                          [class.sidebar-navigation__technologies-arrow--expanded]="artificialIntelligenceExpanded && !isArtificialIntelligenceActive()"
                        >
                          @if (artificialIntelligenceExpanded) {
                            keyboard_arrow_down
                          } @else {
                            keyboard_arrow_right
                          }
                        </span>
                      </button>

                    </div>

                  </li>

                </ul>

              }

            </li>

            <!-- MY COURSES -->
            <li class="sidebar-navigation__item" data-label="My Courses">
              <div class="sidebar-navigation__link">
                <a
                  class="sidebar-navigation__link-content"
                  routerLink="/learn/my-courses"
                  routerLinkActive="sidebar-navigation__link--active"
                  [matTooltip]="isCollapsed ? 'MyCourses' : ''"
                  matTooltipPosition="below"
                  matTooltipClass="sidebar-tooltip" 
                >
                  <span class="material-symbols-outlined">
                    video_library
                  </span>
  
                  @if (!isCollapsed) {
                    <span class="sidebar-navigation__label">
                      My Courses
                    </span>
                  }
                </a>
              </div>
            </li>

            <!-- FAVORITES -->
            <li class="sidebar-navigation__item" data-label="Favorites">
              <div class="sidebar-navigation__link">
                <a
                  routerLink="/learn/favorites"
                  routerLinkActive="sidebar-navigation__link--active"
                  class="sidebar-navigation__link-content"
                  [matTooltip]="isCollapsed ? 'Favorites' : ''"
                  matTooltipPosition="below"
                  matTooltipClass="sidebar-tooltip" 
                >
                  <span class="material-symbols-outlined">
                    favorite
                  </span>
  
                  @if (!isCollapsed) {
                    <span class="sidebar-navigation__label">
                      Favorites
                    </span>
                  }
                </a>
              </div>
            </li>

            <!-- TRACKS -->
            <li class="sidebar-navigation__item" data-label="Tracks">
              <div class="sidebar-navigation__link">
                <a
                  class="sidebar-navigation__link-content"
                  routerLink="/learn/tracks"
                  routerLinkActive="sidebar-navigation__link--active"
                  [matTooltip]="isCollapsed ? 'Tracks' : ''"
                  matTooltipPosition="below"
                  matTooltipClass="sidebar-tooltip" 
                >
                  <span class="material-symbols-outlined">
                    share
                  </span>
  
                  @if (!isCollapsed) {
                    <span class="sidebar-navigation__label">
                      Tracks
                    </span>
                  }
                </a>
              </div>
            </li>
          </ul>
        }
      </section>

      <!-- ACCOUNT -->
      <section
        class="sidebar-navigation__section"
        [class.sidebar-navigation__section--expanded]="accountExpanded"
      >
        <button
          type="button"
          class="sidebar-navigation__title sidebar-navigation__toggle"
          [class.sidebar-navigation__title--expanded]="accountExpanded"
          (click)="toggleSection('account')"
        >
          <span>ACCOUNT</span>

          <span class="material-symbols-outlined">
            @if (accountExpanded) {
              keyboard_arrow_down
            } @else {
              keyboard_arrow_right
            }
          </span>
        </button>

        @if (accountExpanded) {
          <ul class="sidebar-navigation__list">
            <li class="sidebar-navigation__item" data-label="Profile">
              <div class="sidebar-navigation__link">
                <a
                  class="sidebar-navigation__link-content"
                  routerLink="/account/profile"
                  routerLinkActive="sidebar-navigation__link--active"
                  [matTooltip]="isCollapsed ? 'Profile' : ''"
                  matTooltipPosition="below"
                  matTooltipClass="sidebar-tooltip" 
                >
                  <span class="material-symbols-outlined">
                    manage_accounts
                  </span>
  
                  @if (!isCollapsed) {
                    <span class="sidebar-navigation__label">
                      Profile
                    </span>
                  }
                </a>
              </div>
            </li>
          </ul>
        }  
      </section>

      @if (isAdmin) {
        <!-- ADMIN -->
        <section
          class="sidebar-navigation__section"
          [class.sidebar-navigation__section--expanded]="adminExpanded"
        >
          <button
            type="button"
            class="sidebar-navigation__title sidebar-navigation__toggle"
            [class.sidebar-navigation__title--expanded]="adminExpanded"
            (click)="toggleSection('admin')"
          >
            <span>Admin</span>

            <span class="material-symbols-outlined">
              @if (adminExpanded) {
                keyboard_arrow_down
              } @else {
                keyboard_arrow_right
              }
            </span>
          </button>

          @if (adminExpanded) {
            <ul class="sidebar-navigation__list">
              <li class="sidebar-navigation__item" data-label="Dashboard">
                <div class="sidebar-navigation__link">
                  <a
                    class="sidebar-navigation__link-content"
                    routerLink="/admin/dashboard"
                    routerLinkActive="sidebar-navigation__link--active"
                    [matTooltip]="isCollapsed ? 'Dashboard' : ''"
                    matTooltipPosition="below"
                    matTooltipClass="sidebar-tooltip" 
                  >
                    <span class="material-symbols-outlined">
                      dashboard
                    </span>
  
                    @if (!isCollapsed) {
                      <span class="sidebar-navigation__label">
                        Dashboard
                      </span>
                    }
                  </a>
                </div>
              </li>
            </ul>
          }
        </section>
      }
    </nav>

    <!-- FOOTER -->
    <app-footer [isCollapsed]="isCollapsed" />
  </div>
</aside>