<!-- MOBILE HAMBURGUER -->
<aside
  class="sidebar"
  [class.sidebar-collapsed]="isCollapsed"
  [class.sidebar-mobile-open]="isMobileMenuOpen"
>
  <!-- SIDEBAR CONTENT -->
  <div class="sidebar__content">
    <!-- MOBILE HEADER -->
    <div class="sidebar__mobile-header">
      <div class="sidebar-logo">
        <a href="/">
          <img
            src="assets/images/logo-sm-dev-academy.webp"
            alt="Logo"
          >
        </a>
      </div>

      <button
        type="button"
        class="sidebar__mobile-close"
        (click)="toggleMobileMenu()"
      >
        Fechar
      </button>
    </div>

    <!-- DESKTOP LOGO -->
    <div class="sidebar-logo">
      @if (!isCollapsed) {
        <a href="/">
          <img
            src="assets/images/logo-sm-dev-academy.webp"
            alt="Logo"
          >
        </a>
      } @else {
        <a href="/">
          <img
            src="assets/images/icon-sm-dev-academy.webp"
            alt="Ícone"
          >
        </a>
      }
    </div>

    <!-- SIDEBAR NAVIGATION -->
    <nav class="sidebar-navigation">
      <!-- HOME PAGE -->
      <section class="sidebar-navigation__section">
        <h2
          class="sidebar-navigation__title"
        >
         <span>HOME PAGE</span>
        </h2>
        
        <ul class="sidebar-navigation__list">
          <li class="sidebar-navigation__item">
            <a
              class="sidebar-navigation__link"
              routerLink="/"
              routerLinkActive="sidebar-navigation__link--active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <span class="material-symbols-outlined">
                home
              </span>

              @if (!isCollapsed) {
                <span class="sidebar-navigation__label">
                  Home
                </span>
              }
            </a>
          </li>
        </ul>
      </section>

      <!-- LEARN -->
      <section class="sidebar-navigation__section">
        <button
          type="button"
          class="sidebar-navigation__title sidebar-navigation__toggle"
          (click)="toggleSection('learn')"
        >
          <span>LEARN</span>

          <span class="material-symbols-outlined">
            @if (learnExpanded) {
              keyboard_arrow_down
            } @else {
              keyboard_arrow_right
            }
          </span>
        </button>

        @if (learnExpanded) {
          <ul class="sidebar-navigation__list">

            <!-- COURSES -->
            <li
              class="sidebar-navigation__item"
              data-label="Courses"
            >

              <div class="sidebar-navigation__link" [class.sidebar-navigation__link--expanded]="coursesExpanded" routerLinkActive="sidebar-navigation__link--active">

                <a
                  class="sidebar-navigation__link-content"
                  routerLink="/learn/courses"
                >

                  <span
                    class="
                      material-symbols-outlined
                      sidebar-navigation__technologies-icon
                    "
                  >
                    school
                  </span>

                  @if (!isCollapsed) {
                    <span class="sidebar-navigation__label">
                      Courses
                    </span>
                  }

                </a>

                <button
                  type="button"
                  class="sidebar-navigation__expand-button"
                  (click)="toggleSection('courses')"
                >
                  <span
                    class="
                      material-symbols-outlined
                      sidebar-navigation__technologies-arrow
                    "
                  >
                    @if (coursesExpanded) {
                      keyboard_arrow_down
                    } @else {
                      keyboard_arrow_right
                    }
                  </span>
                </button>

              </div>

              @if (coursesExpanded) {

                <ul class="sidebar-navigation__list">

                  <!-- FRONTEND -->
                  <li class="sidebar-navigation__item">

                    <div class="sidebar-navigation__link" [class.sidebar-navigation__link--expanded]="frontendExpanded" routerLinkActive="sidebar-navigation__link--active">

                      <a
                        class="sidebar-navigation__link-content"
                        routerLink="/learn/courses/frontend"
                      >

                        <img
                          class="sidebar__tech-icon"
                          src="assets/svg/frontend.svg"
                          alt="Frontend"
                        />

                        @if (!isCollapsed) {
                          <span class="sidebar-navigation__label">
                            Frontend
                          </span>
                        }

                      </a>

                      <button
                        type="button"
                        class="sidebar-navigation__expand-button"
                        (click)="toggleSection('frontend')"
                      >
                        <span
                          class="
                            material-symbols-outlined
                            sidebar-navigation__technologies-arrow
                          "
                        >
                          @if (frontendExpanded) {
                            keyboard_arrow_down
                          } @else {
                            keyboard_arrow_right
                          }
                        </span>
                      </button>

                    </div>

                  </li>

                  <!-- BACKEND -->
                  <li class="sidebar-navigation__item">

                    <div class="sidebar-navigation__link" [class.sidebar-navigation__link--expanded]="backendExpanded" routerLinkActive="sidebar-navigation__link--active">

                      <a
                        class="sidebar-navigation__link-content"
                        routerLink="/learn/courses/backend"
                      >

                        <img
                          class="sidebar__tech-icon"
                          src="assets/svg/backend.svg"
                          alt="Backend"
                        />

                        @if (!isCollapsed) {
                          <span class="sidebar-navigation__label">
                            Backend
                          </span>
                        }

                      </a>

                      <button
                        type="button"
                        class="sidebar-navigation__expand-button"
                        (click)="toggleSection('backend')"
                      >
                        <span
                          class="
                            material-symbols-outlined
                            sidebar-navigation__technologies-arrow
                          "
                        >
                          @if (backendExpanded) {
                            keyboard_arrow_down
                          } @else {
                            keyboard_arrow_right
                          }
                        </span>
                      </button>

                    </div>

                  </li>

                  <!-- BANCO DE DADOS -->
                  <li class="sidebar-navigation__item">

                    <div class="sidebar-navigation__link" [class.sidebar-navigation__link--expanded]="databaseExpanded" routerLinkActive="sidebar-navigation__link--active">

                      <a
                        class="sidebar-navigation__link-content"
                        routerLink="/learn/courses/banco-de-dados"
                      >

                        <img
                          class="sidebar__tech-icon"
                          src="assets/svg/banco-de-dados.svg"
                          alt="Banco de Dados"
                        />

                        @if (!isCollapsed) {
                          <span class="sidebar-navigation__label">
                            Banco de Dados
                          </span>
                        }

                      </a>

                      <button
                        type="button"
                        class="sidebar-navigation__expand-button"
                        (click)="toggleSection('banco-de-dados')"
                      >
                        <span
                          class="
                            material-symbols-outlined
                            sidebar-navigation__technologies-arrow
                          "
                        >
                          @if (databaseExpanded) {
                            keyboard_arrow_down
                          } @else {
                            keyboard_arrow_right
                          }
                        </span>
                      </button>

                    </div>

                  </li>

                  <!-- MOBILE -->
                  <li class="sidebar-navigation__item">

                    <div class="sidebar-navigation__link" [class.sidebar-navigation__link--expanded]="mobileExpanded" routerLinkActive="sidebar-navigation__link--active">

                      <a
                        class="sidebar-navigation__link-content"
                        routerLink="/learn/courses/mobile"
                      >

                        <img
                          class="sidebar__tech-icon"
                          src="assets/svg/mobile.svg"
                          alt="Mobile"
                        />

                        @if (!isCollapsed) {
                          <span class="sidebar-navigation__label">
                            Mobile
                          </span>
                        }

                      </a>

                      <button
                        type="button"
                        class="sidebar-navigation__expand-button"
                        (click)="toggleSection('mobile')"
                      >
                        <span
                          class="
                            material-symbols-outlined
                            sidebar-navigation__technologies-arrow
                          "
                        >
                          @if (mobileExpanded) {
                            keyboard_arrow_down
                          } @else {
                            keyboard_arrow_right
                          }
                        </span>
                      </button>

                    </div>

                  </li>

                  <!-- DEVOPS -->
                  <li class="sidebar-navigation__item">

                    <div class="sidebar-navigation__link" [class.sidebar-navigation__link--expanded]="devopsExpanded" routerLinkActive="sidebar-navigation__link--active">

                      <a
                        class="sidebar-navigation__link-content"
                        routerLink="/learn/courses/devops"
                      >

                        <img
                          class="sidebar__tech-icon"
                          src="assets/svg/devops.svg"
                          alt="DevOps"
                        />

                        @if (!isCollapsed) {
                          <span class="sidebar-navigation__label">
                            DevOps
                          </span>
                        }

                      </a>

                      <button
                        type="button"
                        class="sidebar-navigation__expand-button"
                        (click)="toggleSection('devops')"
                      >
                        <span
                          class="
                            material-symbols-outlined
                            sidebar-navigation__technologies-arrow
                          "
                        >
                          @if (devopsExpanded) {
                            keyboard_arrow_down
                          } @else {
                            keyboard_arrow_right
                          }
                        </span>
                      </button>

                    </div>

                  </li>

                  <!-- IA -->
                  <li class="sidebar-navigation__item">

                    <div class="sidebar-navigation__link" [class.sidebar-navigation__link--expanded]="artificialIntelligenceExpanded" routerLinkActive="sidebar-navigation__link--active">

                      <a
                        class="sidebar-navigation__link-content"
                        routerLink="/learn/courses/artificial-intelligence"
                      >

                        <img
                          class="sidebar__tech-icon"
                          src="assets/svg/ia.svg"
                          alt="IA"
                        />

                        @if (!isCollapsed) {
                          <span class="sidebar-navigation__label">
                            IA
                          </span>
                        }

                      </a>

                      <button
                        type="button"
                        class="sidebar-navigation__expand-button"
                        (click)="toggleSection('artificial-intelligence')"
                      >
                        <span
                          class="
                            material-symbols-outlined
                            sidebar-navigation__technologies-arrow
                          "
                        >
                          @if (artificialIntelligenceExpanded) {
                            keyboard_arrow_down
                          } @else {
                            keyboard_arrow_right
                          }
                        </span>
                      </button>

                    </div>

                  </li>

                </ul>

              }

            </li>

            <!-- MY COURSES -->
            <li class="sidebar-navigation__item" data-label="My Courses">
              <a
                class="sidebar-navigation__link"
                routerLink="/learn/my-courses"
                routerLinkActive="sidebar-navigation__link--active"
              >
                <span class="material-symbols-outlined">
                  video_library
                </span>

                @if (!isCollapsed) {
                  <span class="sidebar-navigation__label">
                    My Courses
                  </span>
                }
              </a>
            </li>

            <!-- FAVORITES -->
            <li class="sidebar-navigation__item" data-label="Favorites">
              <a
                routerLink="/learn/favorites"
                routerLinkActive="sidebar-navigation__link--active"
                class="sidebar-navigation__link"
              >
                <span class="material-symbols-outlined">
                  favorite
                </span>

                @if (!isCollapsed) {
                  <span class="sidebar-navigation__label">
                    Favorites
                  </span>
                }
              </a>
            </li>

            <!-- TRACKS -->
            <li class="sidebar-navigation__item" data-label="Tracks">
              <a
                class="sidebar-navigation__link"
                routerLink="/learn/tracks"
                routerLinkActive="sidebar-navigation__link--active"
              >
                <span class="material-symbols-outlined">
                  share
                </span>

                @if (!isCollapsed) {
                  <span class="sidebar-navigation__label">
                    Tracks
                  </span>
                }
              </a>
            </li>
          </ul>
        }
      </section>

      <!-- ACCOUNT -->
      <section class="sidebar-navigation__section">
        <button
          type="button"
          class="sidebar-navigation__title sidebar-navigation__toggle"
          (click)="toggleSection('account')"
        >
          <span>ACCOUNT</span>

          <span class="material-symbols-outlined">
            @if (accountExpanded) {
              keyboard_arrow_down
            } @else {
              keyboard_arrow_right
            }
          </span>
        </button>

        @if (accountExpanded) {
          <ul class="sidebar-navigation__list">
            <li class="sidebar-navigation__item" data-label="Profile">
              <a
                class="sidebar-navigation__link"
                routerLink="/account/profile"
                routerLinkActive="sidebar-navigation__link--active"
              >
                <span class="material-symbols-outlined">
                  manage_accounts
                </span>

                @if (!isCollapsed) {
                  <span class="sidebar-navigation__label">
                    Profile
                  </span>
                }
              </a>
            </li>
          </ul>
        }  
      </section>

      @if (isAdmin) {
        <!-- ADMIN -->
        <section class="sidebar-navigation__section">
          <button
            type="button"
            class="sidebar-navigation__title sidebar-navigation__toggle"
            (click)="toggleSection('admin')"
          >
            <span>Admin</span>

            <span class="material-symbols-outlined">
              @if (adminExpanded) {
                keyboard_arrow_down
              } @else {
                keyboard_arrow_right
              }
            </span>
          </button>

          @if (adminExpanded) {
            <ul class="sidebar-navigation__list">
              <li class="sidebar-navigation__item" data-label="Dashboard">
                <a
                  class="sidebar-navigation__link"
                  routerLink="/admin/dashboard"
                  routerLinkActive="sidebar-navigation__link--active"
                >
                  <span class="material-symbols-outlined">
                    dashboard
                  </span>

                  @if (!isCollapsed) {
                    <span class="sidebar-navigation__label">
                      Dashboard
                    </span>
                  }
                </a>
              </li>
            </ul>
          }
        </section>
      }
    </nav>

    <!-- FOOTER -->
    <app-footer [isCollapsed]="isCollapsed" />
  </div>
</aside>