<app-page-container>
  <div class="courses__hero">
    <h1 class="courses__title">Meus Favoritos</h1>
  </div>

  <!-- <app-responsive-grid>
    @for (favorite of visibleFavorites; track favorite.id) {
      <article class="course-card" (click)="openCourse(favorite.course.playlistId)">
        <button
          type="button"
          class="course-card__favorite"
          title="Remover dos favoritos"
          (click)="openRemoveFavoriteModal($event, favorite)"
        >
          <img
            class="course-card__favorite-icon course-card__favorite-icon--heart"
            src="assets/svg/heart.svg"
            alt="Favorito"
          />

          <img
            class="course-card__favorite-icon course-card__favorite-icon--broken"
            src="assets/svg/broken-heart.svg"
            alt="Remover dos favoritos"
          />
        </button>

        <img
          class="course-card__image"
          loading="lazy"
          [src]="favorite.course.thumbnail"
          [alt]="favorite.course.title"
        />

        <div class="course-card__content">
          <h3 class="course-card__title">
            {{ favorite.course.title }}
          </h3>
        </div>
      </article>
    }
  </app-responsive-grid>
  <div #sentinel class="courses__sentinel"></div> -->

  @if (favorites.length === 0) {
    <div class="courses-empty">
      <h2>Você ainda não possui cursos favoritos.</h2>
      <p>Adicione cursos aos favoritos para acessá-los rapidamente.</p>
    </div>
  } @else {
    <app-responsive-grid>
      @for (favorite of visibleFavorites; track favorite.id) {
        <article class="course-card" (click)="openCourse(favorite.course.playlistId)">
          <button
            type="button"
            class="course-card__favorite"
            title="Remover dos favoritos"
            (click)="openRemoveFavoriteModal($event, favorite)"
          >
            <img
              class="course-card__favorite-icon course-card__favorite-icon--heart"
              src="assets/svg/heart.svg"
              alt="Favorito"
            />

            <img
              class="course-card__favorite-icon course-card__favorite-icon--broken"
              src="assets/svg/broken-heart.svg"
              alt="Remover dos favoritos"
            />
          </button>

          <img
            class="course-card__image"
            loading="lazy"
            [src]="favorite.course.thumbnail"
            [alt]="favorite.course.title"
          />

          <div class="course-card__content">
            <h3 class="course-card__title">
              {{ favorite.course.title }}
            </h3>
          </div>
        </article>
      }
    </app-responsive-grid>

    <div #sentinel class="courses__sentinel"></div>
  }

  @if (favoriteToRemove) {
    <div class="favorite-modal">
      <div class="favorite-modal__backdrop"></div>

      <div class="favorite-modal__content">
        <img
          class="favorite-modal__icon"
          src="assets/svg/broken-heart.svg"
          alt="Remover dos favoritos"
        />

        <h2>Remover dos favoritos?</h2>

        <p>Deseja remover este curso da sua lista de favoritos?</p>

        <div class="favorite-modal__actions">
          <button type="button" class="favorite-modal__cancel" (click)="cancelRemoveFavorite()">
            Não
          </button>

          <button type="button" class="favorite-modal__confirm" (click)="confirmRemoveFavorite()">
            Sim, remover
          </button>
        </div>
      </div>
    </div>
  }
</app-page-container>
