@if (!isHomeLoading) {
  <app-page-container>
    <app-home-hero />

    @if (continueCourse) {
      <section class="continue-watching">
        <h2 class="continue-watching__title">
          Continue Assistindo
        </h2>

        <app-continue-watching-card
          [course]="continueCourse"
        />
      </section>
    }
    
    <app-stream-section
      title="Cursos em Destaque"
      subtitle="Cursos recomendados para você continuar evoluindo"
    >
      @for (course of courses; track course.id) {
        <app-highlight-course-card
          [title]="course.title"
          [category]="course.category"
          [description]="course.description"
          [image]="course.thumbnail"
          [playlistId]="course.playlistId"
        />
      }
    </app-stream-section>
    <section class="home-categories">
      <div class="home-categories__grid">
        <app-category-card
          title="Frontend"
          src="assets/svg/frontend.svg"
          route="/learn/courses/frontend"
        />

        <app-category-card
          title="Backend"
          src="assets/svg/backend.svg"
          route="/learn/courses/backend"
        />

        <app-category-card
          title="Mobile"
          src="assets/svg/mobile.svg"
          route="/learn/courses/mobile"
        />

        <app-category-card
          title="Banco de Dados"
          src="assets/svg/banco-de-dados.svg"
          route="/learn/courses/banco-de-dados"
        />

        <app-category-card
          title="DevOps"
          src="assets/svg/devops.svg"
          route="/learn/courses/devops"
        />

        <app-category-card
          title="Inteligência Artificial"
          src="assets/svg/ia.svg"
          route="/learn/courses/artificial-intelligence"
        />
      </div>
    </section>  
  </app-page-container>
}