@use './styles/abstracts/variables';
@use './styles/base/reset';

/* =========================================================
   GLOBAL
========================================================= */

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  background-color: #32363f;
}

/* =========================================================
   APP ROOT
========================================================= */

app-root {
  display: block;
  width: 100%;
  height: 100%;
}