<app-page-container>
  @if (course) {
    <div class="course-player">
      <span class="course-player__technology">
        {{ course.technology }}
      </span>

      <div class="course-player__top">
        @if (videoUrl) {
          <iframe
            class="course-player__video"
            [src]="videoUrl"
            allowfullscreen>
          </iframe>
        }

        <div class="course-player__sidebar">
          <div class="sm-dev-academy__logo">
            <img
              src="assets/images/logo-sm-dev-academy.png"
              alt="SM Dev Academy"
            >
          </div>

          <p class="course-player__description">
            {{ course.description }}
          </p>

          <button type="button" class="course-player__start">
            Iniciar Curso
          </button>

          <button
            type="button"
            class="course-player__favorite"
            [class.course-player__favorite--active]="isFavorite"
            (click)="favoriteCourse()">

            @if (isFavorite) {
              ❤️ Favoritado
            } @else {
              🤍 Favoritar
            }
          </button>
        </div>
      </div>

      <div class="course-player__playlist">
        @for (
          video of course.videos;
          track video.videoId
        ) {
          <button
            type="button"
            class="course-player__item"
            [class.course-player__item--active]="selectedVideo?.videoId === video.videoId"
            (click)="selectVideo(video)">

            <span class="course-player__position">
              {{ video.position }}
            </span>

            <span class="course-player__video-title">
              {{ video.title }}
            </span>
          </button>
        }
      </div>
    </div>
  }
</app-page-container>