<app-page-container>
  @if (course) {
    <div class="course-player">
      <h1 class="course-player__title">{{ course.title }}</h1>

      <span class="course-player__technology">{{ course.technology }}</span>

      <div class="course-player__top">
        @if (!isStartedLoading) {
          @if (isStarted && videoUrl) {
            <iframe
              class="course-player__video"
              [src]="videoUrl"
              allowfullscreen>
            </iframe>
          } @else {
            <div class="course-player__video-placeholder">
              <div class="course-player__video-overlay">
                <h3>
                  Curso não iniciado
                </h3>

                <p>
                  Clique em "Iniciar Curso" para liberar as aulas.
                </p>
              </div>
            </div>
          }
        }

        <div class="course-player__sidebar">
          <div class="sm-dev-academy__logo">
            <img
              src="assets/images/logo-sm-dev-academy.webp"
              alt="SM Dev Academy"
            >
          </div>

          <p class="course-player__description">
            {{ course.description }}
          </p>

          @if (!isStartedLoading) {
            <button
              type="button"
              class="course-player__start"
              (click)="startCourse()"
            >
              @if (isStarted) {
                Curso Iniciado
              } @else {
                Iniciar Curso
              }
            </button>
          }

          <button
            type="button"
            class="course-player__favorite"
            [class.course-player__favorite--active]="isFavorite"
            (click)="favoriteCourse()"
          >
            @if (isFavorite) {
              ❤️ Favoritado
            } @else {
              🤍 Favoritar
            }
          </button>
        </div>
      </div>

      @if (!isStarted) {
        <div class="course-player__warning">
          🔒 Inicie o curso para assistir às aulas.
        </div>
      }

      <div class="course-player__playlist">
        @for (
          video of course.videos;
          track video.videoId
        ) {
          <button
            type="button"
            class="course-player__item"
            [class.course-player__item--active]="selectedVideo?.videoId === video.videoId"
            [class.course-player__item--locked]="!isStarted"
            (click)="handleVideoClick(video)"
          >
            <span class="course-player__position">
              {{ video.position }}
            </span>

            <span class="course-player__video-title">
              {{ video.title }}
            </span>
          </button>
        }
      </div>
    </div>
  }
</app-page-container>