<section class="home-hero">
  <div class="home-hero__content">
    <div class="home-hero__badge">
      <span>
        Plataforma de Cursos de Desenvolvimento Web
      </span>
    </div>

    <h1 class="home-hero__title">
      Seu próximo<span> nível </span>começa agora.
    </h1>

    <p class="home-hero__description">
      Aprenda as tecnologias mais utilizadas pelo mercado e evolua sua carreira com conteúdos organizados por trilhas e especialidades.
    </p>

    <div class="home-hero__actions">
      <button class="home-hero__primary-button" routerLink="/learn/courses">
        Explorar Cursos
      </button>

      <button class="home-hero__secondary-button" routerLink="/learn/tracks">
        Ver Trilhas
      </button>
    </div>
  </div>
</section>