* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;

  overflow-x: hidden;

  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family: Roboto, sans-serif;

  background: #1b1d23;

  color: #ffffff;
}

button,
input,
textarea {
  border: none;
  outline: none;

  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}